<?xml version="1.0" encoding="utf-8" ?> 
<config>
  
  <Server_Information>
    <IP>210.77.14.218</IP>
    <Port>13145</Port>
  </Server_Information>
  
  <Client_Information>
    <Project_id>110000015</Project_id>         
    <Gateway_id>1100000140202</Gateway_id>
    <Area_code>10000</Area_code>             <!--行政区编码-->
    <Program_id></Program_id>           <!--项目编码-->
    <Tech_type></Tech_type>             <!--技术类型-->
    <Sys_code></Sys_code>               <!--系统编码-->
    <Meter  MA_ProgramId="" MA_Code1="" MA_Code2=""
           MB_ProgramId="" MB_Code1="" MB_Code2="" 
           MC_ProgramId="" MC_Code1="" MC_Code2="" 
           MD_ProgramId="" MD_Code1="" MD_Code2="" ></Meter>                     <!--Meter的相关参数-->
    <NotifyTime></NotifyTime>           <!--心跳数据包发送间隔-->
    <ReportTime>30</ReportTime>           <!--数据包定时发送间隔-->
    <VerifyTime></VerifyTime>           <!--认证数据超时发送间隔-->
    <Times></Times>                     <!--失败后尝试次数-->
    <Period></Period>                   <!--周期-->
    <Key>0000000000123456</Key>                         <!--AES的密钥-->
    <MD5>0000000000123456</MD5>                         <!--MD5值-->
    <IV>0000000000123456</IV>                           <!--AES初始向量值-->
  </Client_Information>
  
</config>
