<?xml version="1.0"?>
<configuration>
  <configurations>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.2.11"></section>
  </configurations>
  <log4net>
    <root>
      <level value="WARN"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <logger name="AppSender.Logging">
      <level value="DEBUG"/>
    </logger>
    
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="D:/workspace/sunmit/project/0.00/RenewEDSenderM/RenewEDSenderM/log-file.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]" />
        <param name="Footer" value="[Footer]" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>
   
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志文件路径，“/”与“/”作用相同，到达的目录相同，文件夹不存在则新建 -->
      <!--按文件大小方式输出时在这里指定文件名，并且当天的日志在下一天时在文件名后自动追加当天日期形成新文件。-->
      <!--按照日期形式输出时，直接连接元素DatePattern的value形成文件路径。此处使用这种方式 -->
      <!--param的名称,可以直接查对应的appender类的属性名即可,这里要查的就是RollingFileAppender类的属性 -->
      <param name="File" value="D:/workspace/sunmit/project/0.00/RenewEDSenderM/RenewEDSenderM/Log/app.log" />
      <!--是否追加到文件-->
      <param name="appendToFile" value="true" />
      <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name="MaxSizeRollBackups" value="-1" />
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="true" />
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name="RollingStyle" value="Composite" />

      <!--按日期产生文件夹和文件名［在日期方式与混合方式下使用］-->
      <param name="datePattern" value="yyyy-MM-dd" />
      
      <!--每个文件的大小。只在混合方式与文件大小方式下使用。-->
      <!--超出大小后在所有文件名后自动增加正整数重新命名，数字最大的最早写入。-->
      <!--可用的单位:KB|MB|GB。不要使用小数,否则会一直写入当前日志-->
      <param name="maximumFileSize" value="500KB" />

      <!--过滤设置，LevelRangeFilter为使用的过滤器。-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="WARN" />
      </filter>
      
      <!--记录的格式。-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="conversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    
    
    <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"  value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>-->
   
  </log4net>
  <appSettings>
    <add key="dbconnstr" value=""/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
